body {
    background-color: lightgray;
    text-align: center;
}

input {
    display: block;
    margin: 10px auto;
    padding: 5px;
}

/* buttons center */
button {
    margin: 5px;
    padding: 6px;
    background-color: lightblue;
    border: 1px solid black;
}

#result {
    margin-top: 15px;
    font-weight: bold;
}

p {
    margin-top: 15px;
}